body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

input {
  font-family: inherit;
}

.container {
  min-width: 320px;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.nav-menu {
  display: none;
}

.address-items {
  display: none;
}

.logo {
  display: block;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 0;
}

.logo-studio {
  color: #2e2f42;
}

.menu-open-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.menu-mob-icon {
  background-color: transparent;
  fill: #2f2f37;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 72px 16px 40px 16px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.modal-close-icon {
  transition: fill;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.header-current {
  position: relative;
  color: #404bbf;
}

.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mob-address-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mob-address-link:active {
  color: #4d5ae5;
}

.mob-list-icon {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.section-hero {
  min-width: 320px;
  max-width: 320px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-hero@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
  text-align: center;
  background-color: #2e2f42;
}

@media screen and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-hero@2x.jpg);
  }
}

.title-heading {
  margin: 0 auto 72px auto;
  max-width: 216px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two-items {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.section-two-container {
  display: none;
}

.section-two-header {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-two-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-three {
  min-width: 320px;
  background: #f4f4fd;
}

.section-three-header {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.section-three-items {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.section-three-item {
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-units {
  padding: 32px 16px;
}

.team-member {
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.team-link-icon {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.team-item-icon {
  fill: #f4f4fd;
}

.portfolio-img {
  width: 100%;
}

.title-fourth {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.section-fourth-items {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.section-fourth-item {
  border: 1px solid #f4f4fd;
  background: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.overlay {
  display: none;
}

.section-fourth-title-text {
  padding: 32px 16px;
}

.section-fourth-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-fourth-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background: #2e2f42;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-span {
  color: #f4f4fd;
}

.footer-paragraph {
  width: 288px;
  margin-bottom: 72px;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-media-text {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-list-icon {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-link-icon {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
}

.footer-link-icon:active {
  background-color: #31d0aa;
}

.footer-form-input {
  margin-bottom: 16px;
  color: #ffffff;
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-input::placeholder {
  padding: 8px 16px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
}

.footer-form-input:active {
  border-color: #4d5ae5;
}

.footer-button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding: 8px 24px 8px 24px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  cursor: pointer;
}

.footer-button-icon {
  margin-left: 16px;
  fill: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 623px;
  width: 288px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-close-button:hover,
.popup-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.popup-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-close-button:hover,
.popup-close-button:focus,
.popup-close-button:active {
  fill: #ffffff;
}

.popup-title {
  margin-bottom: 16px;
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.popup-label-container {
  width: 100%;
  margin-bottom: 8px;
}

.popup-input-container {
  position: relative;
}

.popup-input {
  outline: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-input:focus {
  border-color: #4d5ae5;
}

.popup-input:focus + .popup-icon {
  fill: #4d5ae5;
}

.popup-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.popup-comment-container {
  margin-bottom: 16px;
}

.popup-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.popup-textarea:focus {
  border-color: #4d5ae5;
}

.popup-checkbox-container {
  margin-bottom: 24px;
}

.popup-checkbox {
  width: 100%;
}

.popup-label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-click {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-checkbox:checked + .popup-label-checkbox .span-click {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-policy {
  color: #4d5ae5;
}

.popup-btn {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------Adaptive-------*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /*------768------*/

  .navigation {
    display: flex;
    align-items: center;
    gap: 120px;
  }

  .logo {
    padding: 0;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .nav-current-pos {
    position: relative;
    color: #404bbf;
  }

  .nav-current-pos:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
  }

  .address-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .address-link {
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: none;
  }

  .address-link:active {
    color: #404bbf;
  }

  .menu-open-button {
    display: none;
  }

  /* ****************************************************** */

  .section-hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-hero@1x.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .section-hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-hero@2x.jpg);
    }
  }

  .title-heading {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  /* ****************************************************************** */

  .section-two-items {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .section-two-item {
    width: calc((100% - 24px) / 2);
  }

  .section-two-header {
    text-align: left;
  }

  .section-two-paragraph {
    text-align: left;
  }

  /* ****************************************************** */

  .section-three .container {
    padding-left: 108px;
    padding-right: 108px;
  }

  .section-three-items {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .section-three-item {
    width: calc((100% - 24px) / 2);
    margin: 0;
  }

  /* ************************************************************** */

  .section-fourth-items {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .section-fourth-item {
    width: calc((100% - 24px) / 2);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  /* ************************************************************** */

  .footer-container {
    padding: 0 108px;
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .footer-studio-media {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer-paragraph {
    width: 264px;
    margin-bottom: 0;
  }

  .footer-media-text {
    text-align: start;
  }

  .footer-list-icon {
    margin-bottom: 0;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-form-input {
    margin-bottom: 0;
    width: 264px;
    padding-left: 24px;
  }

  .footer-button {
    margin: 0;
  }

  .popup {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

/* ****************************************** */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* ***************************************************** */

  .navigation {
    gap: 76px;
  }

  .nav-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .address-items {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  /* ************************************************************ */

  .section-hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-hero@1x.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .section-hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop-hero@2x.jpg);
    }
  }

  .title-heading {
    margin-bottom: 48px;
  }

  .button {
    cursor: pointer;
  }

  .button:hover,
  .button:focus {
    background-color: #404bbf;
  }

  /* ************************************************************* */

  .section-two-items {
    gap: 24px;
  }

  .section-two-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .section-two-container {
    display: flex;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    align-items: center;
    padding: 24px 100px;
    justify-content: center;
    height: 112px;
  }

  .section-two-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .section-two-paragraph {
    font-weight: 400;
    letter-spacing: 0.32px;
  }

  /* ************************************************************* */

  .section-three .container {
    padding: 0 15px;
  }

  .section-three-items {
    gap: 24px;
  }

  .section-three-item {
    width: calc((100% - 72px) / 4);
  }

  .team-link-icon:hover,
  .team-link-icon:focus {
    background-color: #404bbf;
  }

  /* *************************************************************** */

  .section-fourth-items {
    row-gap: 48px;
  }

  .section-fourth-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-fourth-item:hover,
  .section-fourth-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .portfolio-overlay-box {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    display: block;
    padding: 40px 32px;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    background-color: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-fourth-item:hover .overlay {
    transform: translateY(0);
  }

  /* *************************************************************** */

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    padding: 0;
    flex-direction: row;
    gap: 80px;
  }

  .footer-studio-media {
    gap: 120px;
  }

  .footer-link-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-link-icon:hover,
  .footer-link-icon:focus {
    background-color: #31d0aa;
  }

  .footer-form-input:focus {
    border-color: #4d5ae5;
  }

  .footer-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-button:hover,
  .footer-button:focus {
    background-color: #404bbf;
  }
}
